@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

ul,
ol {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
  height: 100%;
  /* object-fit: cover; */
}

body {
  font-size: 1.6rem;
  color: var(--main-text-color);
  font-family: var(--main-font-family);
}

::selection {
  background-color: #b8926a;
  color: #2d2d2b;
}

:root {
  /* --main-text-color: #fff; */
  --main-font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}